In [1]:
import pymysql

# Source DB

conn = pymysql.connect(
    host = "uuboyscymysql.clrhltpp3icl.ap-northeast-1.rds.amazonaws.com",
    port = int(3306),user = "food",
    password = "food",
    db = "food",
    charset='utf8', 
    cursorclass=pymysql.cursors.DictCursor 
    )
cursor = conn.cursor()
print('Connected successfully!(1)')

Connected successfully!(1)

In [2]:
# Target DB

conn2 = pymysql.connect(
    host = "db",
    port = int(3306),user = "uuboyscy",
    password = "howdoyouturnthison",
    db = "testdb",
    charset='utf8', 
    cursorclass=pymysql.cursors.DictCursor 
    )
cursor2 = conn2.cursor()
print('Connected successfully!(2)')

Connected successfully!(2)

In [3]:
sql = 'SELECT * FROM food.tibame_db105 WHERE stnumber = "%s";'
columns_name = ['stnumber', 'stname', 'stclass', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10', 'stscore']

for i in range(1, 50):
    cursor.execute(sql%(i))
    tmp = cursor.fetchall()
    try:    
        print(tmp[0]['stnumber'])
        print(tmp[0]['q10'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'))
    except:
        print(tmp)
    print('==================')

1
爬資料
==================
2
報名Tibame課程的學生資料
==================
3
把PTT上的文章標題、內容、推噓數蒐集起來
==================
4
民調
==================
5
研究什麼是最近的發燒話題
==================
6
想了解青少年對那些事物有興趣，想抓取網路上青少年熱烈討論的議題。
==================
7
選舉網路聲量的爬蟲
==================
8
在寵物的討論版裡找飼養貓會遇到的問題
==================
9
dcard裡抓特定圖案
==================
10
爬股票的金融資訊，並統計與回測，找出最適合的投資標的
==================
11
股價分析
==================
12
到PTT電影版爬蟲抓取電影的討論熱度及網路聲量,分析電影受歡迎程度
==================
13
租屋地址房東電話等等
==================
14
股票分析。我認為老師上課很有活力也很盡力回答學生們的問題我覺得很棒!但可能因為我們是大數據班因此對於網頁概論只需要有初淺的了解 因此速度上有點偏快加上頁面真的很多所以有的時候會有些錯亂!但覺得你是一個用心的老師!很期待接下來的爬蟲課程!
==================
15
運動賽事分析
==================
16
爬蟲各大拍賣網站的商品與價格
==================
17
爬蟲各大銀行換匯匯率
==================
18
籃球運彩分析。 爬NBA各隊的每場得分及失分。要能區分主場跟客場的得失分資料。
==================
19
需要整理大量資料的時候
==================
20
想了解投資者對熱門股票的投資情形
==================
21
股票或是經濟趨勢分析。應用較少，可以多舉實例解釋。
==================
22
股市、氣象局
==================
()
==================
24
2020年總統大選民調調查，爬資料以供數據整理
==================
()
==================
26
在不同網站找同一商品的最優惠價格。
==================
27
將104上的工作內容抓下來彙整，整理成表格，分析熱門的專長等等
==================
28
找DMM上面的新番
==================
29
統計數據
==================
30
選舉人/汽車廠牌車型/歌手...之網路聲量，股票趨勢分析，專利地圖分析
==================
31
統計搜尋某些項目的使用者愛好，分配適合的廣告給這些使用者觀看。
==================
32
為了建立特定商業模型而需要爬取大量原始數據以供日後數據分析建模
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================
()
==================

In [5]:
sql = 'SELECT * FROM food.tibame_db105 WHERE stnumber = "%s";'
insert_sql = 'INSERT INTO testdb.tibame SET stnumber=%s, stname=%s, stclass=%s, \
                               q1=%s, q2=%s, q3=%s, q4=%s, q5=%s, q6=%s, q7=%s, q8=%s, q9=%s, q10=%s, \
                               stscore=%s'
columns_name = ['stnumber', 'stname', 'stclass', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10', 'stscore']

for stnumber in range(0, 50):
    cursor.execute(sql%(stnumber))
    tmp = cursor.fetchall()
    try:    
        print(tmp[0]['stnumber'])
        print(tmp[0]['q10'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'))
        cursor2.execute(insert_sql, (
            tmp[0]['stnumber'],
            tmp[0]['stname'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['stclass'].upper(),
            tmp[0]['q1'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q2'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q3'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q4'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q5'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q6'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q7'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q8'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q9'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['q10'].replace('\\\\','\\').encode('utf-8').decode('unicode-escape'),
            tmp[0]['stscore']
        ))
    except:
        print(stnumber)
        print(tmp)
    print('==================')
conn2.commit()

0
()
==================
1
()
==================
2
()
==================
3
()
==================
4
()
==================
5
()
==================
6
()
==================
7
()
==================
8
()
==================
9
()
==================
10
()
==================
11
()
==================
12
()
==================
13
()
==================
14
()
==================
15
()
==================
16
()
==================
17
()
==================
18
()
==================
19
()
==================
20
()
==================
21
()
==================
22
()
==================
23
()
==================
24
()
==================
25
()
==================
26
()
==================
27
()
==================
28
()
==================
29
()
==================
30
()
==================
31
()
==================
32
()
==================
33
()
==================
34
()
==================
35
()
==================
36
()
==================
37
()
==================
38
()
==================
39
()
==================
40
()
==================
41
()
==================
42
()
==================
43
()
==================
44
()
==================
45
()
==================
46
()
==================
47
()
==================
48
()
==================
49
()
==================

In [ ]:
conn.close()
conn2.close()